<div class="shopping-cart">
  <%= render "shopping_cart" %>
  
	 <%= form_tag charges_path do %>
	  <h2>Total is <%= number_to_currency current_order.subtotal%></h2>
		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			  data-description="A month's subscription"
			  data-amount="<%= current_order.subtotal*100%>"
			  data-locale="auto"></script>
	<% end %>
</div>


 